.Stack {
    background-color: rgb(67, 94, 25);
    overflow-y: scroll;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    line-height: 10%;
    text-align: left;
    max-height: 600px;
}

.Memory {
    background-color: rgb(78, 88, 121);
    overflow-y: scroll;
    max-height: 600px;
}

.Memory th {
    position: sticky;
    top: 0;
    background-color: rgb(78, 88, 121);
}

.CurrentCell {
    background-color: green;
}

.Registers {
    display: inline-flex;
}